name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout the reference
      uses: actions/checkout@v4

    - name: Install prek
      run: cargo install --locked prek

    - name: Run pre-commit checks
      run: prek run --all-files

    - name: Build turboplot
      run: cargo build --verbose

    - name: Run tests
      run: cargo test --verbose
